CompileFlags:
  Add:
  - -m32
  - -nostdinc
  - -Iinclude
  - -Ilibs/c/include
  - -Ilibs/cpp/include
  - -Wno-c99-designator
  - -Wall
  - -D__CLANGD__
Diagnostics:
  Suppress:
  - asm_qualifier_ignored
  - asm_expected_string